// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

/* Set variables for all modes */
:root {
    
/* Set the background of the entire app */
--ion-background-color: #f8f8f8;

/* Set the font family of the entire app */
--ion-font-family:  'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;

--ion-color-primary: #E1C060;
--ion-color-primary-rgb: 225,192,96;
--ion-color-primary-contrast: #FFF;
--ion-color-primary-contrast-rgb: 0,0,0;
--ion-color-primary-shade: #c6a954;
--ion-color-primary-tint: #e4c670;
  
// --ion-color-primary: #e6ae5b;
// --ion-color-primary-rgb: 221,166,84;
// --ion-color-primary-contrast: #fff;
// --ion-color-primary-contrast-rgb: 0,0,0;
// --ion-color-primary-shade: #c2924a;
// --ion-color-primary-tint: #e0af65;

--ion-color-secondary: #FFF;
--ion-color-secondary-rgb: 255,255,255;
--ion-color-secondary-contrast: #312b1c;
--ion-color-secondary-contrast-rgb: 0,0,0;
--ion-color-secondary-shade: #e0e0e0;
--ion-color-secondary-tint: #ffffff;

--ion-color-tertiary: #3D320D;
--ion-color-tertiary-rgb: 61,50,13;
--ion-color-tertiary-contrast: #ffffff;
--ion-color-tertiary-contrast-rgb: 255,255,255;
--ion-color-tertiary-shade: #362c0b;
--ion-color-tertiary-tint: #504725;

}
